.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}
.gridList{
    width: 500;
    height: 450;
    transform: translateZ(0);
}
.icon{
    color: white;
}