input[type=text], select, input[type=number], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffe2b3;
    border-radius: 4px;
    box-sizing: border-box;
  }